<div
    class="flex h-full min-h-0 w-full min-w-0 flex-col overflow-hidden absolute inset-0"
>

    <as-split
        class="h-full min-h-0"
        direction="horizontal"
        useTransition="true"
        [gutterSize]="hasSecondaryContent ? 12 : 0"
        [style.--as-gutter-background-color]="
            isDarkMode ? 'var(--color-neutral-800)' : 'var(--color-neutral-100)'
        "
    >
        <as-split-area
            [size]="hasSecondaryContent ? 60 : 100"
            [visible]="!hasSecondaryContent || !isMobile || showPrimaryArea"
            [class.hidden]="hasSecondaryContent && isMobile && !showPrimaryArea"
            minSize="30"
            class="border border-neutral-300 dark:border-neutral-700"
        >
            <ng-container *ngTemplateOutlet="leftTemplate"> </ng-container>
        </as-split-area>
        <as-split-area
            [size]="40"
            [visible]="hasSecondaryContent && (!isMobile || !showPrimaryArea)"
            [class.hidden]="!hasSecondaryContent || (isMobile && showPrimaryArea)"
            minSize="30"
            class="border border-neutral-300 dark:border-neutral-700"
        >
            <ng-container *ngTemplateOutlet="rightTemplate"> </ng-container>
        </as-split-area>
    </as-split>
</div>
