<div
    class="flex flex-0 items-center justify-between border-b bg-gray-50 px-4 py-3 dark:bg-transparent"
>
    <div class="flex items-center">
        <button
            mat-icon-button
            [color]="'primary'"
            matTooltip="Save"
            class="mr-2"
            (click)="saveSongEvent.emit()"
        >
            <mat-icon
                [svgIcon]="'heroicons_outline:document-arrow-down'"
            ></mat-icon>
        </button>
        <button
            mat-icon-button
            [color]="'warn'"
            matTooltip="Delete"
            class="mr-2"
            (click)="removeSongEvent.emit()"
        >
            <mat-icon [svgIcon]="'heroicons_outline:trash'"></mat-icon>
        </button>
        @if (!hideHelp) {
            <button
                mat-icon-button
                matTooltip="Help"
                (click)="helpEvent.emit()"
            >
                <mat-icon
                    [svgIcon]="'heroicons_outline:question-mark-circle'"
                ></mat-icon>
            </button>
        }
    </div>
    @if (!hideClose) {
        <a mat-icon-button [matTooltip]="'Close'" (click)="closeEvent.emit()">
            <mat-icon [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
        </a>
    }
</div>
<mat-divider></mat-divider>
