<div class="flex items-center gap-1">
    <button mat-icon-button [matTooltip]="'viewer_toolbar.transpose_down' | transloco" (click)="transposeDown()">
        <mat-icon [svgIcon]="'chevron-down'"></mat-icon>
    </button>
    @if (!isMobile) {
        <div class="flex flex-col items-center">
            <span class="text-sm font-medium">{{ currentKey }}</span>
        </div>
    }
    <button mat-icon-button [matTooltip]="'viewer_toolbar.transpose_up' | transloco" (click)="transposeUp()">
        <mat-icon [svgIcon]="'chevron-up'"></mat-icon>
    </button>
</div>
