<div class="absolute inset-0 flex flex-col items-center justify-center">
    <div class="rounded-full border-2 border-primary text-primary">
        <mat-icon
            class="icon-size-16"
            [svgIcon]="'heroicons_outline:arrow-right-on-rectangle'"
        ></mat-icon>
    </div>
    <div class="mt-6 text-center">
        <div class="text-lg font-medium">Signing you out...</div>
        <div class="text-secondary mt-2 leading-relaxed">
            You will be redirected to the sign in page in a few seconds.
        </div>
    </div>
</div>
