<div class="absolute inset-0 flex min-w-0 flex-col overflow-hidden">
    <mat-drawer-container class="bg-card h-full flex-auto dark:bg-transparent">
        <mat-drawer
            class="w-full md:w-160 dark:bg-gray-900"
            [mode]="drawerMode"
            [opened]="false"
            [position]="'end'"
            [disableClose]="true"
            #matDrawer
        >
            <router-outlet></router-outlet>
        </mat-drawer>
        <mat-drawer-content class="flex flex-col">
            <div class="h-full flex-auto">
                <!-- Header & Viewer -->
                @if (song) {
                    <chp-song-preview
                        [song]="song"
                        [pendingSuggestion]="!!pendingSuggestion"
                        [alternateVersions]="versions"
                        [alternateVersionRoute]="'reader'"
                        [associatedSongbooks]="associatedSongbooks"
                        [pendingSongbooks]="pendingSongbooksList"
                        [associatedTags]="associatedTags"
                        [songbookSearchControl]="songbookSearchControl"
                        [filteredSongbooks$]="filteredSongbooks$"
                        [tagSearchControl]="tagSearchControl"
                        [filteredTags$]="filteredTags$"
                        [isPreview]="false"
                        [compactPreview]="false"
                        [showEditDelete]="true"
                        [showDelete]="canDelete()"
                        [centerContent]="false"
                        (editSongEvent)="editSong()"
                        (deleteSongEvent)="deleteSong()"
                        (removeSongbook)="removeSongbookAssociation($event)"
                        (addSongToSongbook)="addCurrentSongToSongbook($event)"
                        (removeTag)="removeTag($event)"
                        (tagSelected)="onTagSelected($event)"
                    ></chp-song-preview>
                } @else {
                    <div class="flex h-full min-h-80 items-center justify-center px-6">
                        <div class="text-center">
                            <div class="text-xl font-semibold text-neutral-900 dark:text-neutral-100">
                                @if (songLoadError) {
                                    {{ 'reader.song_not_available' | transloco }}
                                } @else {
                                    {{ 'reader.loading_song' | transloco }}
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>
        </mat-drawer-content>
    </mat-drawer-container>
</div>
