<div class="flex flex-auto flex-col items-center justify-center p-6 sm:p-10">
    <div class="flex w-full max-w-400 overflow-hidden sm:rounded-md sm:shadow">
        <div class="bg-card relative flex flex-auto flex-col p-6 sm:p-10">
            <div class="mt-8 w-full">
                <div class="text-3xl font-semibold leading-tight">Sign in</div>
            </div>

            <div class="text-secondary mt-2">
                Enter your email and password to sign in
            </div>

            <fuse-alert
                class="mt-8"
                *ngIf="showAlert"
                [appearance]="'outline'"
                [showIcon]="false"
                [type]="alert.type"
                [@shake]="showAlert"
            >
                {{ alert.message }}
            </fuse-alert>

            <!-- Sign in form -->
            <form class="mt-8" [formGroup]="signInForm" #signInNgForm="ngForm">
                <!-- Email field -->
                <mat-form-field class="w-full">
                    <mat-label>Email</mat-label>
                    <input
                        matInput
                        [formControl]="signInForm.controls.email"
                        [type]="'email'"
                        autocomplete="email"
                    />
                    <mat-error
                        *ngIf="signInForm.get('email').hasError('required')"
                    >
                        Email is required
                    </mat-error>
                    <mat-error
                        *ngIf="signInForm.get('email').hasError('email')"
                    >
                        Please enter a valid email address
                    </mat-error>
                </mat-form-field>

                <!-- Password field -->
                <mat-form-field class="w-full">
                    <mat-label>Password</mat-label>
                    <input
                        matInput
                        [formControl]="signInForm.controls.password"
                        [type]="'password'"
                        autocomplete="current-password"
                    />
                    <mat-error> Password is required </mat-error>
                </mat-form-field>

                <!-- Remember me -->
                <mat-checkbox
                    class="mat-mdc-form-field-no-label ml-1 mt-1"
                    [formControl]="signInForm.controls.rememberMe"
                >
                    Remember me
                </mat-checkbox>

                <!-- Submit button -->
                <button
                    class="fuse-mat-button-large mt-8 w-full"
                    mat-flat-button
                    color="primary"
                    [disabled]="signInForm.disabled"
                    (click)="signIn()"
                >
                    @if (!signInForm.disabled) {
                        <span> Sign in </span>
                    }
                    @if (signInForm.disabled) {
                        <mat-spinner [diameter]="24"></mat-spinner>
                    }
                </button>

                <!-- Sign up link -->
                <div class="text-secondary mt-8 text-md font-medium">
                    <span>Don't have an account?</span>
                    <a class="ml-1 text-primary-500" [routerLink]="['/sign-up']"
                        >Sign up</a
                    >
                </div>
            </form>
        </div>
    </div>
</div>
