<div class="flex h-full w-full flex-col items-center justify-center">
    <div class="w-full max-w-3xl">
        <div class="prose prose-sm mx-auto max-w-none">
            <img class="w-20" src="images/logo/logo.svg" alt="Logo image" />

            <h1>{{ 'home.about_title' | transloco }}</h1>
            <p>{{ 'home.about_description' | transloco }}</p>
            <h2>{{ 'home.overview_title' | transloco }}</h2>
            <p [innerHTML]="'home.overview_description' | transloco"></p>

            <ul>
                <li *ngFor="let item of features" [innerHTML]="item"></li>
            </ul>

            <p [innerHTML]="'home.platform_description' | transloco"></p>
        </div>
        <div>
            <a
                class="mt-8"
                mat-flat-button
                [color]="'primary'"
                href="https://chordproject.com"
                target="_blank"
                rel="noopener noreferrer"
            >
                <span>{{ 'home.visit_button' | transloco }}</span>
                <mat-icon
                    class="ml-2 icon-size-5"
                    [svgIcon]="'heroicons_mini:arrow-long-right'"
                ></mat-icon>
            </a>
        </div>
    </div>
</div>
