body splash-screen {
  color-scheme: dark;
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #13121b;
  color: white;
  z-index: 999999;
  pointer-events: none;
  opacity: 1;
  visibility: visible;
  transition: opacity 400ms cubic-bezier(0.4, 0, 0.2, 1);
}

body splash-screen img {
  width: 120px;
  max-width: 120px;
}

body splash-screen .loading-dots {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
  width: 56px;
}

body splash-screen .loading-dots .loading-dot {
  display: inline-flex;
  width: 12px;
  height: 12px;
  background-color: #2096f3;
  border-radius: 100%;
  animation: pulse 1s infinite ease-in-out both;
}

body splash-screen .loading-dots .loading-dot.loading-dot-1 {
  animation-delay: -0.32s;
}

body splash-screen .loading-dots .loading-dot.loading-dot-2 {
  animation-delay: -0.16s;
}

body:not(.splash-screen-hidden) {
  overflow: hidden;
}

body.splash-screen-hidden splash-screen {
  visibility: hidden;
  opacity: 0;
}

@keyframes pulse {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }
  to {
    transform: scale(0);
  }
}
