@if (appearance === 'bar') {
    <!-- Bar search -->
    @if (!opened()) {
        <button mat-icon-button (click)="open($event)">
            <mat-icon [svgIcon]="'search'"></mat-icon>
        </button>
    }
    @if (opened()) {
        <div class="absolute inset-0 z-99 flex flex-col justify-center bg-neutral-200 px-4 dark:bg-neutral-900">
            <div
                class="relative flex items-center rounded-lg border border-neutral-300 bg-white shadow-sm focus-within:border-primary-500 focus-within:ring-1 focus-within:ring-primary-500/30 dark:border-neutral-700 dark:bg-neutral-800"
            >
                <mat-icon
                    class="pointer-events-none absolute left-4 text-neutral-500"
                    [svgIcon]="'search'"
                ></mat-icon>
                <input
                    class="h-12 w-full bg-transparent px-12 outline-none"
                    [formControl]="searchControl"
                    [placeholder]="'search.placeholder_bar' | transloco"
                    (keydown)="onKeydown($event)"
                    [matAutocomplete]="searchResults?.matAutocomplete"
                    #barSearchInput
                />
                <button
                    class="absolute right-2 h-9 w-9 shrink-0"
                    mat-icon-button
                    (click)="close()"
                >
                    <mat-icon [svgIcon]="'x'"></mat-icon>
                </button>
            </div>

            <div class="relative">
                <search-results
                    #searchResults
                    [resultSets]="resultSets()"
                    [searchValue]="searchControl.value"
                ></search-results>
            </div>
        </div>
    }
}

@if (appearance === 'basic') {
    <div class="w-full sm:min-w-120">
        <mat-form-field class="w-full fuse-mat-bold max-w-80 sm:max-w-120" [subscriptSizing]="'dynamic'">
            <mat-icon matPrefix [svgIcon]="'search'"></mat-icon>
            <input
                matInput
                [formControl]="searchControl"
                [placeholder]="'search.placeholder_basic' | transloco"
                [matAutocomplete]="searchResults?.matAutocomplete"
                (keydown)="onKeydown($event)"
                #basicSearchInput
            />
        </mat-form-field>

        <search-results #searchResults [resultSets]="resultSets()" [searchValue]="searchControl.value"></search-results>
    </div>
}
