<div class="flex h-full min-h-0 flex-col bg-white dark:bg-neutral-900">
    <chp-song-header
        [song]="song"
        [pendingSuggestion]="pendingSuggestion"
        [alternateVersions]="alternateVersions"
        [alternateVersionRoute]="alternateVersionRoute"
        [showFullEditor]="showFullEditor"
        [showClose]="showClose"
        [closeOnlyOnMobile]="closeOnlyOnMobile"
        [centerContent]="centerContent"
        [associatedSongbooks]="associatedSongbooks"
        [pendingSongbooks]="pendingSongbooks"
        [associatedTags]="associatedTags"
        [songbookSearchControl]="songbookSearchControl"
        [filteredSongbooks$]="filteredSongbooks$"
        [tagSearchControl]="tagSearchControl"
        [filteredTags$]="filteredTags$"
        (openFullEditor)="openFullEditor.emit()"
        (close)="close.emit()"
        (removeSongbook)="removeSongbook.emit($event)"
        (addSongToSongbook)="addSongToSongbook.emit($event)"
        (removeTag)="removeTag.emit($event)"
        (tagSelected)="tagSelected.emit($event)"
    ></chp-song-header>

    <div class="min-h-0 flex-1 flex flex-col">
        <chp-viewer-panel
            [song]="song"
            [content]="content"
            [isPreview]="isPreview"
            [compactPreview]="compactPreview"
            [showToolbar]="showToolbar"
            [showEditDelete]="showEditDelete"
            [showDelete]="showDelete"
            [centerContent]="centerContent"
            (editSongEvent)="editSongEvent.emit()"
            (deleteSongEvent)="deleteSongEvent.emit()"
        ></chp-viewer-panel>
    </div>
</div>
